<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>SingUp</servlet-name>
		<servlet-class>try1.server.SingUpServiceImp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>try1.server.LoginServiceImp</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/task2/loginService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SingUp</servlet-name>
		<url-pattern>/task2/SingUpService</url-pattern>
	</servlet-mapping>





	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Task2.html</welcome-file>
	</welcome-file-list>

</web-app>
